 * {
 border:0px;
 margin:0px;
 padding:0px;
 font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
 vertical-align:top;
 font-size:14px;
 color:#666666;
 }
 ul li {
 list-style-type:none;
 text-align:center;
 }
 em {
 font-style:normal;
 }
 body {
 text-align:center;
 }
 h3 {
 font-size:16px;
 }
 h5 { //close button only
 margin:0px;
 position:relative;
 top:-10px;
 right:-10px;
 width:18px;
 height:18px;
 text-align:center;
 float:right;
 border:solid 1px black;
 border-bottom:solid 2px black;
 border-left:solid 2px black;
 cursor:pointer;
 }
 strong {
 font-style:italic;
 }
 #donors {
 background: white url('images/watermark.jpg') 100px 0px no-repeat;
 border:solid 1px black;
 visibility:hidden;
 text-align:center;
 width:350px;
 height:265px;
 position: absolute;
 top:300px;
 left:50%;
 margin-left:-175px;
 margin-top:-100px;
 background-color:white;
 padding:10px;
 z-index:1;
 }
 #container {
 margin-right:auto;
 margin-left:auto;
 width:700px;
 text-align:justify;
 }
 #head {
 height:100px;
 margin-top:20px;
 margin-right:20px;
 margin-left:20px; }
 .right {
 float:right; }
 .content {
 border-top:solid 1px black;
 margin-top:10px;
 margin-right:20px;
 margin-left:20px;  }
 #left {
 width:50%;
 }
 .nav {
 margin:10px;
 text-align:center;
 }
 #right {
 padding-left:20px; }
.upper {
  border:solid 1px #999999;
  margin:2px;
  }
#conclusionimage {
  margin-bottom:-6px;
  _margin-bottom:4px;
  position:relative;
  top:-2px;
  right:-2px;
  z-index:0;
  }