<nav>
  <h4><a href="{{ site.url }}">Home</a></h4>
  <ul>
    <li><a href="about.html">About Us</a></li>
    <li><a href="workshops.html">Kids' Programming Workshops</a></li>
    <!-- <li><a href="mentoring.html">Mentoring</a></li> -->
    <!-- <li><a href="volunteer.html">Volunteering</a></li> -->
    <li><a href="newsletter.html">Newsletters</a></li>
    <li><a href="donations.html">Donations</a></li>
    <li><a href="teachers.html">Teachers</a></li>
    <li><a href="http://iaroc.org" target=new>International Autonomous Robot Competition</a></li>
    <li><a href="contact.html">Contact Us</a></li>
  </ul>
</nav>

<nav>
  <h4>For current students</h4>
  <ul>
    <li><a href="calendar.html">Class Schedule</a></li>
    <li><a href="http://school.wintrisstech.org">Wiki</a></li>
  </ul>
</nav>

<div class="fb-like-box" data-href="https://www.facebook.com/pages/Wintriss-Technical-Schools/201484783248391" data-width="200" data-show-faces="true" data-stream="true" data-header="true"></div>
  
<!-- <h4>Example Gallery</h4>
<ul class="gallery">
  <li><a href="index.html"><img src="i/img1.png" alt="#"/></a></li>
  <li><a href="index.html"><img src="i/img2.png" alt="#"/></a></li>
  <li><a href="index.html"><img src="i/img3.png" alt="#"/></a></li>
</ul>
<ul class="gallery">
  <li><a href="index.html"><img src="i/img4.png" alt="#"/></a></li>
  <li><a href="index.html"><img src="i/img5.png" alt="#"/></a></li>
  <li><a href="index.html"><img src="i/img6.png" alt="#"/></a></li>
</ul> -->
