<h4>Search</h4>
<form action="#" class="s">
  <input name="search" type="text" value="Type term and hit enter...">
</form>
<nav>
  <h4>Navigation</h4>
  <ul>
    <li><a href="#">Lorem</a></li>
    <li><a href="#">Ipsum</a></li>
    <li class="active"><a href="#">Dolor Sit</a>
      <ul>
        <li><a href="#">Amet</a></li>
        <li><a href="#">Amet</a></li>
      </ul>
  
    </li>
    <li><a href="#">Downloads</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<h4>About the Author</h4>
<div id="c">
  <img src="i/jonas-jared-jacek_50x50.png" alt="Jonas Jacek">
  <p>Hi, my name is <a href="http://jabz.net/contact/jonas-jacek">Jonas Jacek</a>.</p>
  <p>Welcome to my free HTML5 and CSS3 website template.</p>
  <p>I consider myself a web designer, web developer and Internet marketing enthusiast. I strongly believe in free and open-source software and open standards. That is, why you get this template for free.</p>
  <b>Follow Me</b>
  <p><a href="http://identi.ca/jabz" title="Follow @jabz">Identi.ca</a> | <a href="http://twitter.com/jabz" title="Follow @jabz">Twitter</a></p>
</div>
<h4>Example Gallery</h4>
<ul class="gallery">
  <li><a href="index.html"><img src="i/img1.png" alt="#"/></a></li>
  <li><a href="index.html"><img src="i/img2.png" alt="#"/></a></li>
  <li><a href="index.html"><img src="i/img3.png" alt="#"/></a></li>
</ul>
<ul class="gallery">
  <li><a href="index.html"><img src="i/img4.png" alt="#"/></a></li>
  <li><a href="index.html"><img src="i/img5.png" alt="#"/></a></li>
  <li><a href="index.html"><img src="i/img6.png" alt="#"/></a></li>
</ul>
<h4>AdSpace</h4> 
<div class="adspace"> 
  <a href="http://jabz.net/" rel="me"><img src="i/jabz-logo.png" alt="Jabz Internet Marketing GmbH" title="Jabz Internet Marketing GmbH"/></a> 
</div>
<h4>Example Blogroll</h4>
<ul>
  <li><a href="http://jabz.net/">Jabz Internet Marketing GmbH</a></li>
  <li><a href="http://jabz.net/contact/jonas-jacek">Jonas Jacek</a></li>
  <li><a href="http://www.w3.org/">World Wide Web Consortium</a></li>
  <li><a href="http://www.getfirefox.com/">Firefox Web Browser</a></li>
</ul> 
<h4>Example Tag Cloud</h4>
<ul id="tagcloud">
  <li class="tagcloudsize-1"><a href="#">Lorem</a></li>
  <li class="tagcloudsize-2"><a href="#">Ipsum</a></li>
  <li class="tagcloudsize-3"><a href="#">Dolor</a></li>
  <li class="tagcloudsize-2"><a href="#">Sit Amet</a></li>
  <li class="tagcloudsize-1"><a href="#">Consectetur</a></li>
</ul> 
