<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8"/>
  
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <!--[if IE 7]>
    <link rel="stylesheet" href="ie7.css" type="text/css" media="screen" />
  <![endif]-->
  
  <link rel="stylesheet" href="{{ site.url }}/style.css" type="text/css" media="screen" />
</head>

<body>
  <div id="a">
    <header 
      {% if page.header_image %}
      style="background:url(i/{{ page.header_image }}.jpg)"
      {% endif %}
      >
      <a href="{{ site.url }}"><img style="margin-bottom: -6px" src="{{ site.url }}/i/logo_25.png"/><b>Wintriss Technical Schools</b></a>
      <p>Changing kids' lives with Java Computer Programming</p>
    </header>
    <div id="b">
      <article>
        {{ content }}
      </article>
      <aside>
        {% include sidebar.html %}
      </aside>
    </div>
    <footer>
      <!-- 
      ### LICENSE
      ############

      This W3C-compliant, CSS-based website template has a 
      Creative Commons Attribution-Share Alike 3.0 Unported License.

      http://creativecommons.org/licenses/by-sa/3.0/

      In short, you must:
      + keep the credit links in the footer intact
      + not change the license (e.g. copywriting my work)


      ### BREAKING THE LICENSE
      #########################

      Breaking the rules of the license will result in me initiating
      the necessary legal procedures and publicly shaming you here:

      http://owmx.com/hall-of-shame/
      -->
      <p>Template Design &amp; Markup by <a href="http://jabz.net/contact/jonas-jacek">Jonas Jacek</a> | <a href="http://owmx.com/" title="Free HTML5 &amp; CSS3 Web Templates">Free Web Templates</a>.</p>
    </footer>
  </div>

  {% include google_analytics.html %}
</body>
</html>